@model Simple_911.Models.IncidentUnit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>IncidentUnit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Incident)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Incident.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Unit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Unit.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
