@{
    ViewData["Title"] = "Home Page";
}

<div class="full-screen-video-container">
    <video autoplay loop muted>
        <source src="Backgroundvideo.mp4" type="videoaudio/mp4" />
    </video>
    <div full-screen-video-content>
        Text
    </div>

</div>
