@model Simple_911.Models.Incident

@{
    ViewData["Title"] = "Edit";
}

<div>
    <p></p>
   <a asp-action="Dashboard"><button type="button" class="btn btn-primary">Back to List</button></a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                  <input type="hidden" asp-for="Id" />
                  <input type="hidden" asp-for="Created" />
                  <input type="hidden" asp-for="IsClosed" />
                  <input type="hidden" asp-for="StatusId" />
                  <input type="hidden" asp-for="PtAge" />
                  <input type="hidden" asp-for="PtSex" />
                  <input type="hidden" asp-for="PtBreath" />
                  <input type="hidden" asp-for="PtHistory" />
                  <input type="hidden" asp-for="PtCon" />
                  <input type="hidden" asp-for="PrimaryUnitId" />
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="State" class="control-label"></label>
                <input asp-for="State" class="form-control" />
                <span asp-validation-for="State" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zip" class="control-label"></label>
                <input asp-for="Zip" class="form-control" />
                <span asp-validation-for="Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Callback" class="control-label"></label>
                <input asp-for="Callback" class="form-control" />
                <span asp-validation-for="Callback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriorityId" class="control-label"></label>
                <select asp-for="PriorityId" class="form-control" asp-items="ViewBag.PriorityId"></select>
                <span asp-validation-for="PriorityId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallTypeId" class="control-label"></label>
                <select asp-for="CallTypeId" class="form-control" asp-items="ViewBag.CallTypeId"></select> 
                <span asp-validation-for="CallTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CallTakerId" class="control-label"></label>
                <select asp-for="CallTakerId" class="form-control" asp-items="ViewBag.CallTakerId"></select>
                <span asp-validation-for="CallTakerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DispatcherId" class="control-label"></label>
                <select asp-for="DispatcherId" class="form-control" asp-items="ViewBag.DispatcherId"></select>
                <span asp-validation-for="DispatcherId" class="text-danger"></span>
                <p></p>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
