
<div style="text-align:right" class="mb-3 mt-4">
    <a asp-action="Dashboard"><button type="button" class="btn btn-primary">Back to List</button></a>
</div>
<section class="card border-primary mb-3">
    <div class="card-header"><h5>EMERGENCY MEDICAL DIRECTION GUIDE</h5></div>
    <div class="card-body">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">CPR</div>
            <div class="card-body">
                <p>Ensure the patient is on a FLAT, SOLID surface. If needed, move patient; consider moving patient to floor.</p>
                <p>Interlace your fingers and position your hands in the center of the patient's chest.</p>
                <p>Keep your elbows locked, and push HARD and FAST.</p>
                <p>Count out loud to me as your finish each compression.</p>
                <p>Do you feel comfortable giving the patient rescue breaths?</p>
                <p>30 compressions to 2 breaths.</p>
            </div>
        </div>
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">RESCUE BREATHS</div>
            <div class="card-body">
                <p>Ensure the patient's mouth and airway are clear from debris.</p>
                <p>If the patient has vomit in mouth do not give breath. (If CPR, continue Hands-Only. Otherwise Roll the patient on their side.)</p>
                <p>If the patient's airway and mouth are clear, pinch patients nose, open mouth, and create a seal around their mouth with yours and blow.</p>
                <p>Look for patient's chest rise, then stop blowing.</p>
                <p>Do not blow too hard, if you feel heavy resistance, you should stop.</p>
            </div>
        </div>
    </div>
</section>