    <section class="u-align-left u-clearfix u-grey-10 u-section-1" id="carousel_f5e0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1">EMERGENCY MEDICAL DIRECTION GUIDE:</h2>
        <div class="u-border-16 u-border-palette-2-base u-line u-line-horizontal u-line-1"></div>
        <div class="u-expanded-width-xs u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <h5 class="u-text u-text-default u-text-2">cpr</h5>
                <div class="u-expanded-height-lg u-expanded-height-xl u-expanded-height-xs u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
                <p class="u-text u-text-3">Ensure the patient is on a FLAT, SOLID surface.&nbsp;<br>Interlace your fingers and position your hands in the center of the patient's chest.<br>Keep your elbows locked, and push HARD and FAST.<br>Count out loud to me as your finish each compression.<br>Do you feel comfortable giving the patient rescue breaths?<br>30 compressions to 2 breaths.<br>
                  <br>
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <h5 class="u-text u-text-default u-text-4"> Rescue Breaths</h5>
                <div class="u-expanded-height-lg u-expanded-height-xl u-expanded-height-xs u-palette-2-base u-shape u-shape-rectangle u-shape-2"></div>
                <p class="u-text u-text-5">Ensure the patient's mouth and airway are clear from debris.<br>If the patient has vomit in mouth do not give breath.&nbsp;<br>(If CPR, continue Hands-Only. Otherwise Roll the patient on their side.)<br>
                  <br>If the patient's airway and mouth are clear, pinch patients nose, open mouth,&nbsp;<br>and create a seal around their mouth with yours and blow.&nbsp;<br>Look for patient's chest rise, then stop blowing.<br>Do not blow too hard, if you feel heavy resistance, you should stop.&nbsp;<br>
                  <br>
                </p>
              </div>
            </div>
            <div class="u-align-left u-container-style u-list-item u-repeater-item u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <h5 class="u-text u-text-default u-text-6"> BLEEDING CONTROL</h5>
                <div class="u-expanded-height-lg u-expanded-height-xl u-expanded-height-xs u-palette-2-base u-shape u-shape-rectangle u-shape-3"></div>
                <p class="u-text u-text-7">Find a CLEAN piece of cloth such as a towel, rag, or peice of clothing.&nbsp;<br>Apply direct and firm pressure using the cloth.<br>Hold until EMS arrives.<br>
                  <br>If patient bleeds through cloth, add additional cloth on top and continue holding pressure.&nbsp;<br>DO NOT remove the first piece of cloth.<br>
                  <br>Continue talking to the patient and keep them awake.<br>
                  <br>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>