@model Simple_911.Models.Incident

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Incident</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Patient">
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Address" />
            <input type="hidden" asp-for="City" />
            <input type="hidden" asp-for="State" />
            <input type="hidden" asp-for="Zip" />
            <input type="hidden" asp-for="Created" />
            <input type="hidden" asp-for="IsClosed" />
            <input type="hidden" asp-for="Callback" />
            <input type="hidden" asp-for="PriorityId" />
            <input type="hidden" asp-for="CallTypeId" />
            <input type="hidden" asp-for="StatusId" />
            <input type="hidden" asp-for="CallTakerId" />
            <input type="hidden" asp-for="DispatcherId" /> 
            <input type="hidden" asp-for="PrimaryUnitId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">HOW OLD IS THE PATIENT?</label>
                <input asp-for="PtAge" class="form-control" />
                <span asp-validation-for="PtAge" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label">IS THE PATIENT MALE OR FEMALE?</label>
                <select asp-for="PtSex" class="form-control" asp-items="ViewBag.PtSex"></select>
                <span asp-validation-for="PtSex" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label">IS THE PATIENT AWAKE AND CONSCIOUS?</label>
                <select asp-for="PtCon" class="form-control" asp-items="ViewBag.PtCon"></select>
                <span asp-validation-for="PtCon" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label">IS THE PATIENT BREATHING?</label>
                <select asp-for="PtBreath" class="form-control" asp-items="ViewBag.PtBreath"></select>
                <span asp-validation-for="PtCon" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <label class="control-label"><p>DOES THE PATIENT HAVE A HISTORY OF THIS?</p></label>
                <input asp-for="PtHistory" class="form-control" />
                <span asp-validation-for="PtHistory" class="text-danger"></span>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
